@import "../../../variables";

.chains {
  &__btn {
    @include box;
    display: flex !important;
    align-items: center !important;
    border-radius: 12px !important;
    height: 42px !important;
    font-weight: 500 !important;
    font-family: "Roboto, sans-serif" !important;
    font-size: 16px !important;
  }

  &__span {
    margin-left: 5px;
  }
}
