@import "../../variables";

.exchange {
  &__card {
    @include box;
    width: 430px;
    border-radius: 1rem !important;
    font-size: 16px !important;
    font-weight: 500 !important;

    &-inner {
      border: none !important;
      border-radius: 1rem !important;
    }
  }

  &__btn {
    @include box;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 7px !important;
    border-radius: 0.6rem !important;
    height: fit-content !important;
    padding: 5px 10px !important;
    font-weight: 500 !important;
    font-size: 17px !important;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0 !important;
    font-weight: 500 !important;
    font-size: 23px !important;
  }

  &__img {
    width: 30px !important;
    border-radius: 15px !important;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    font-size: 15px !important;
    color: #434343;
    margin-top: 8px;
    padding: 0 10px !important;
  }

  &__swap {
    width: 100%;
    margin-top: 15px !important;
    border-radius: 0.6rem !important;
    height: 50px !important;
  }
}
