.inchmodal {
  overflow: auto;
  height: 500px;

  &__token {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
  }

  &__img {
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }

  &__span {
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
  }
}
